.formWrapper {
    display: flex;
    gap: 24px;

    @include breakpoint(lg) {
        flex-direction: column;
        gap: 0;
    }
}

.emailInput {
    font-family: inherit;
    height: 56px;
    background: none;
    border: 1px solid #4C4C4C;
    padding: 0 24px;
    width: 323px;
    color: #FFFFFF;
    margin-bottom: 8px;

    &::placeholder {
        color: #6D6E76;
    }

    @include breakpoint(lg) {
        width: 100%;
        padding: 16px;
    }
}

.error {
    color: #FF0000;
}