.postWrapper {
	display: flex;
	flex-direction: column;
	font-size: countSize(7);
	gap: countSize(4);
	padding: countSize(16);
	transition: all 0.3s ease;
	width: 517px;
	height: 181px;

	&:hover {
		background-color: $floralWhite;
	}

	@include breakpoint(lg) {
		width: 100%;
	}
}

.authorInfo {
	color: $purple;
}

.postHeader {
	color: inherit;
	width: 369px;
	font-size: countSize(12);
	transition: all 0.3s ease;

	&:hover {
		color: $purple;
	}

	@include breakpoint(mobL) {
		width: 100%;
	}
}