.privacyHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: countSize(40) 0;
    background-color: $ghostWhite;
}

.privacyHeaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: countSize(2);
}

.privacyHeading {
    text-transform: capitalize;
    color: inherit;
    font-size: countSize(24);
}

.updateTime {
    text-transform: capitalize;
    color: $spanishGray;
}