.headerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 720px;
    background: url('../assets/background.jpg') no-repeat center center;
    background-size: cover;
    color: $white;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: countSize(24);
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(12);
}

.subHeader {
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: countSize(10);

    @include breakpoint(lg) {
        font-size: countSize(7);
    }
}

.mainHeader {
    font-size: countSize(28);
    letter-spacing: -1 * countSize(1);
    max-width: 803px;

    @include breakpoint(lg) {
        font-size: countSize(24);
    }

    @include breakpoint(sm) {
        font-size: countSize(20);
    }
}

.description {
    max-width: 599px;

    @include breakpoint(lg) {
        font-size: countSize(7);
    }
}

.authorInfo {
    color: $golden;

    @include breakpoint(lg) {
        font-size: countSize(7);
    }
}