.whyWeStartedWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 137px;
    padding-top: countSize(64);

    @include breakpoint(md) {
        flex-direction: column;
        align-items: stretch;
        gap: countSize(32);
    }
}

.peopleWrapper {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -10%;
        left: 107px;
        width: 74px;
        height: 74px;
        background-color: $purple;
        border-radius: 50%;
        z-index: 5;
    }


    @include breakpoint(md) {
        &::after {
            bottom: -7%;
        }
    }
}