@mixin button {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 48px;
    height: 56px;
    border: none;
    transition: all 0.3s ease;
    border: 1px solid transparent;

    &:disabled {
        cursor: not-allowed;
    }
}

.buttonPrimary {
    @include button;

    background-color: #FFD050;

    &:hover {
        background-color: #FFFFFF;
    }

    border: 1px solid #d1d0d0;
}

.buttonSecondary {
    @include button;

    background-color: #FFFFFF;

    &:hover {
        background-color: #FFD050;
    }
}