.categoryContentWrapper {
	display: flex;
	justify-content: space-between;
	gap: countSize(12);
	padding: countSize(64) 0;

	@include breakpoint(xl) {
		flex-direction: column;
	}
}

.categoryPostsWrapper {
	display: flex;
	flex-direction: column;
	gap: countSize(32);

	@include breakpoint(xl) {
		order: 1;
	}
}

.noPostsLabel {
	font-weight: $semibold;
	font-size: countSize(14);
}

.noCategory {
	margin: countSize(32) 0;
	font-size: countSize(14);
	font-weight: $semibold;
}
