.categoryContentWrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 128px 0;
}

.categoryPostsWrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.noPostsLabel {
    font-weight: 600;
    font-size: 28px;
}

.noCategory {
    margin: 64px 0;
    font-size: 28px;
    font-weight: 600;
}