.postsContainer {
    display: flex;
    justify-content: space-between;
    padding: countSize(64) 0;
    gap: countSize(32);

    @include breakpoint(lg) {
        flex-direction: column;
        justify-content: flex-start;
        gap: countSize(16);
    }
}