.postsContainer {
    display: flex;
    justify-content: space-between;
    padding: 128px 0;

    @include breakpoint(lg) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
    }
}