.contactInfoContainer {
    padding: countSize(24) countSize(32);
    background-color: $purple;
}

.contactInfoWrapper {
    display: flex;
    gap: countSize(20);
}

.contactInfoSection {
    display: flex;
    flex-direction: column;
    gap: countSize(8);
    width: 50%
}

.line {
    height: 1px;
    width: 100%;
    background-color: $white;
    opacity: 10%;
}

.contactInfoHeading {
    font-size: countSize(7);
    color: $white;
    opacity: 60%;
}


.contactInfoDataWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(2);
}

.contactInfoData {
    font-weight: $bold;
    font-size: countSize(10);
    color: $white;
}

.contactInfoMessage {
    color: $white;
    opacity: 60%;
}