.nextPostsWrapper {
	display: flex;
	flex-direction: column;
	gap: countSize(32);
}

.nextPosts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: countSize(16);
}

.nextPostsHeading {
	color: inherit;
}

.line {
	background-color: $daveGray;
	height: 1px;
	width: 100%;
}
