.postWrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.imgWrapper {
    width: 490px;
    height: 318px;
}

.postImg {
    object-fit: cover;
    width: 100%;
}

.postTextWrapper {
    display: flex;
    flex-direction: column;
}

.postCategory {
    font-weight: 600;
    letter-spacing: 3px;
    color: #592EA9;
    margin-bottom: 20px;
}

.postHeading {
    color: inherit;
    font-size: 36px;
    margin-bottom: 16px;

    transition: all 0.3s ease;

    &:hover {
        color: #592EA9;
    }
}

.postDescription {
    color: #6D6E76;
}