.valuesWrapper {
    display: flex;
    flex-direction: column;
}

.aboutUsContainer {
    z-index: 1;
    padding-left: countSize(80);
    padding-right: countSize(20);

    @include breakpoint(md) {
        padding: 0;
    }
}

.aboutUsWrapper {
    display: flex;
    align-items: center;
    gap: countSize(16);
}

.aboutUsHeader {
    display: flex;
    flex-direction: column;
    gap: countSize(8);
    padding: countSize(32);
    background-color: $white;

    @include breakpoint(lg) {
        padding: countSize(16);
        ;
    }
}

.aboutUsSubHeading {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.aboutUsHeading {
    max-width: 496px;
    color: inherit;
    font-size: countSize(24);
}

.aboutUsDescription {
    max-width: 477px;
    color: $darkGray;
}

.imgWrapper {
    position: relative;
    margin-top: -countSize(32);
}

.companyStatsContainer {
    position: absolute;
    bottom: 0;
    left: countSize(54);

    @include breakpoint(md) {
        position: static;
    }
}

.companyStatsWrapper {
    display: flex;
    justify-content: space-between;
    width: 630px;
    padding: countSize(16) countSize(24);
    background-color: $golden;

    @include breakpoint(md) {
        width: 100%;
    }
}

.companyNumberWrapper {
    display: flex;
    flex-direction: column;
}

.companyNumberValue {
    font-size: countSize(28);
    font-weight: $bold;
}

.lines {
    display: flex;
    height: countSize(12);
    width: 100%;
}

.purpleLine {
    background-color: $purple;
    max-width: 300px;
    width: 100%;
}

.yellowLine {
    background-color: $golden;
    max-width: 550px;
    width: 100%;
}

.keyValuesContainer {
    padding: countSize(64) countSize(54) countSize(32) countSize(54);
    background-color: $ghostWhite;

    @include breakpoint(lg) {
        padding: countSize(28);
    }
}

.keyValuesWrapper {
    display: flex;
    justify-content: space-between;
    gap: countSize(16);
}

.keyValueWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(8);
}

.keyValueSubheader {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: countSize(4);
}

.keyValueHeader {
    color: inherit;
    font-size: countSize(14);
    max-width: 481px;
}

.keyValueDescription {
    color: $daveGray;
    max-width: 516px;
}