.allPostsContainer {
    padding: 64px;
}

.allPostsWrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.allPostsHeadingWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.allPostsHeading {
    color: inherit;
    font-size: 48px;
}

.line {
    height: 1px;
    background-color: #6D6E76;
}