.allPostsContainer {
    padding: countSize(32);
}

.allPostsWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(32);
}

.allPostsHeadingWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(8);
}

.allPostsHeading {
    color: inherit;
    font-size: countSize(24);
}

.line {
    height: 1px;
    background-color: $daveGray;
}

.noPosts {
    margin: countSize(32) 0;
    font-weight: $semibold;
    font-size: countSize(14);
}