.blogPostContainer {
    display: flex;
    justify-content: center;
    padding: countSize(64) 0;
}

.blogPostWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(32);
    max-width: 843px;
    width: 100%;
}

.blogPostHeaderWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(12);
}

.authorInfoWrapper {
    display: flex;
    gap: countSize(6);
    align-items: center;
}

.authorName {
    font-weight: $bold;
    font-size: countSize(14);
    color: $purple;
}

.postDate {
    color: $daveGray;
}

.blogPostHeading {
    color: inherit;
    font-size: countSize(24);
}

.blogPostCategoryWrapper {
    display: flex;
    align-items: center;
    gap: countSize(4);
}

.categoryName {
    font-size: countSize(12);
    font-weight: $bold;
}

.blogPostImgWrapper {
    width: 100%;
}

.blogPostImg {
    object-fit: cover;
    width: 100%;
}

.blogPostTextContentWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(12);
}

.blogPostTextPartHeading {
    color: inherit;
    margin-bottom: countSize(8);
}

.blogPostTextPartText {
    color: $daveGray;
}

.blogPostTextPartTextWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(12);
}

.bulletPointsWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(2);
    color: $quartz;
    font-size: countSize(12);
    font-weight: $bold;
}

.bulletPoint {
    list-style: disc inside;
}