.nextPostWrapper {
	display: flex;
	flex-direction: column;
	gap: countSize(16);
	max-width: 405px;
}

.nextPostTextWrapper {
	display: flex;
	flex-direction: column;
	gap: countSize(8);
}

.nextPostImgWrapper {
	width: 405px;
	height: 318px;

	@include breakpoint(sm) {
		width: 100%;
		height: 200px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.nextPostImg {
	width: 100%;
	object-fit: cover;
}

.postInfo {
	font-size: countSize(7);
	color: $darkGray;
}

.authorName {
	color: $purple;
}

.nextPostHeading {
	color: inherit;
	transition: all 0.3s ease;

	&:hover {
		color: $purple;
	}
}

.nextPostText {
	color: $daveGray;

	@include breakpoint(md) {
		font-size: countSize(7);
	}
}
