.nextPostWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(16);
    max-width: 405px;
}

.nextPostTextWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(8);
}

.nextPostImgWrapper {
    width: 405px;
    height: 318px;
}

.nextPostImg {
    width: 100%;
    object-fit: cover;
}

.postInfo {
    font-size: countSize(7);
    color: $darkGray;
}

.authorName {
    color: $purple;
}

.nextPostHeading {
    font-size: countSize(14);
    color: inherit;
    transition: all 0.3s ease;

    &:hover {
        color: $purple;
    }
}

.nextPostText {
    color: $daveGray;
}