.authorPostsContainer {
    padding: countSize(64) 0;
    display: flex;
    flex-direction: column;
    gap: countSize(32);
}

.authorPostsWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(32);
}

.authorPostsHeading {
    color: inherit;
    font-size: countSize(24);
}