.ourTeamWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 137px;
    padding-top: 128px;
}

.handShakeWrapper {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 30%;
        left: -50px;
        width: 100px;
        height: 116px;
        background-color: #ffd050;
        border-top-left-radius: 50%;
        z-index: 5;
    }
}