.ourTeamWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 137px;
    padding-top: countSize(64);

    @include breakpoint(md) {
        flex-direction: column;
        align-items: stretch;
        gap: countSize(32);
    }
}

.handShakeWrapper {
    position: relative;
    order: -1;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 30%;
        left: -50px;
        width: 100px;
        height: 116px;
        background-color: $golden;
        border-top-left-radius: 50%;
        z-index: 5;
    }

    @include breakpoint(md) {
        &::after {
            content: "";
            top: 30%;
            left: -countSize(10);
            width: 100px;
            height: 116px;
        }
    }
}