.linksContainer {
    display: flex;
    gap: countSize(12);
    color: $white;

    @include breakpoint(lg) {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        color: $steelGray;
    }
}

.linkActive {
    color: $golden;
}

.linksContainerFooter {
    display: flex;
    flex-direction: row;
    gap: countSize(12);
    color: $white;

    @include breakpoint(mobM) {
        flex-direction: column;
    }
}