.authorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: countSize(10);
    padding: countSize(20);
    width: 296px;
    background-color: $wildSand;
    transition: all 0.3s ease;

    &:hover {
        background-color: $floralWhite;
    }

    @include breakpoint(md) {
        width: 100%;
    }
}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorName {
    text-align: center;
    color: inherit;
    font-size: countSize(14);
    transition: color 0.3s ease;

    &:hover {
        color: $purple;
    }

    @include breakpoint(xxl) {
        font-size: countSize(12);
    }
}

.position {
    text-align: center;
    color: $daveGray;
}

.socialsLinks {
    display: flex;
    gap: countSize(8);
}