.sectionDescriptionWrapper {
	display: flex;
	flex-direction: column;
	gap: countSize(8);
	max-width: 50%;

	@include breakpoint(md) {
		max-width: 100%;
	}
}

.sectionDescriptionHeader {
	color: inherit;
}

.sectionDescriptionSubheader {
	color: inherit;
	font-size: countSize(12);

	@include breakpoint(sm) {
		font-size: countSize(10);
	}
}

.sectionDescriptionDescription {
	@include breakpoint(sm) {
		font-size: countSize(7);
	}
}
