.searchWrapper {
    height: 54px;
}

.searchInput {
    font-family: inherit;
    height: 100%;
    border: 1px solid #9497A1;
    border-radius: 6px;
    padding: 15px 25px;

    &::placeholder {
        color: #292D33;
        font-weight: 700;
    }
}

.searchButton {
    cursor: pointer;
    height: 100%;
    font-family: inherit;
    font-weight: bold;
    background-color: #FFD050;
    border: none;
    padding: 16px;
    border-radius: 6px;
    margin-left: -8px;
    transition: all 0.3s ease;
    border: 1px solid transparent;

    &:hover {
        background-color: #FFFFFF;
    }

    border: 1px solid #d1d0d0;
}