.localeSwitcher {
    select {
        color: white;
        padding: 8px;
        border: none;
        background-color: transparent;
        border: 1px solid #FFFFFF;

        option {
            color: #fff;
            background: #232536;
        }
    }
}