*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	min-height: 100vh;
	scroll-behavior: smooth;
	margin: 0 auto;
	color: #232536;
}

a {
	color: inherit;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: #ffffff;
}

h1 {
	font-size: countSize(24);

	@include breakpoint(lg) {
		font-size: countSize(20);
	}

	@include breakpoint(md) {
		font-size: countSize(16);
	}
}

h2 {
	font-size: countSize(18);

	@include breakpoint(lg) {
		font-size: countSize(16);
	}

	@include breakpoint(sm) {
		font-size: countSize(12);
	}
}

h3 {
	font-size: countSize(14);

	@include breakpoint(sm) {
		font-size: countSize(12);
	}
}