$steelGray: #232536;
$golden: #ffd050;
$purple: #592ea9;
$darkGray: #4c4c4c;
$daveGray: #6d6e76;
$wildSand: #f4f4f4;
$ghostWhite: #f4f0f8;
$floralWhite: #fbf6ea;
$red: #ff0000;
$gunMetal: #2e3040;
$white: #ffffff;
$silver: #d1d0d0;
$quartz: #494a52;
$silverSand: #c1c1c3;
$spanishGray: #9497a1;

$bold: 700;
$semibold: 600;
