.postsWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(16);
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionHeader {
    font-size: countSize(18);
    color: $steelGray;
}

.viewAllLink {
    color: $purple;
}

.posts {
    display: flex;
    flex-direction: column;
}