.postsWrapper {
	display: flex;
	flex-direction: column;
	gap: countSize(16);
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sectionHeader {
	color: inherit;
}

.viewAllLink {
	color: $purple;
}

.posts {
	display: flex;
	flex-direction: column;
}
