.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: countSize(8);
    padding: countSize(16);
    border: countSize(1, 1) solid $daveGray;
    transition: all 0.3s ease;
    max-width: 296px;
    width: 100%;

    &:hover {
        background-color: $golden;
        border: countSize(1, 1) solid transparent;
    }

    @include breakpoint(lg) {
        max-width: 100%;
    }
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: countSize(2);
}

.categoryHeader {
    color: inherit;
    font-size: countSize(14);
}

.categoryDescription {
    color: $daveGray;
}