.allCategoriesWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(20);
}

.allCategoriesHeader {
    color: inherit;
}

.allCategories {
    display: flex;
    flex-direction: column;
    gap: countSize(12);
}

.categoryWrapper {
    display: flex;
    align-items: center;
    gap: countSize(8);
    padding: countSize(12);
    border-color: $white;
    border: countSize(1, 1) solid $silverSand;
    transition: all 0.3s ease;

    &:hover {
        background-color: $golden;
    }
}

.categoryName {
    font-size: countSize(14);
    color: inherit;
}