.allCategoriesWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.allCategoriesHeader {
    color: inherit;
}

.allCategories {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categoryWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-color: #FFFFFF;
    border: 1px solid #C1C1C3;
    transition: all 0.3s ease;

    &:hover {
        background-color: #FFD050;
    }
}

.categoryName {
    font-size: 28px;
    color: inherit;
}