.header {
    background-color: $steelGray;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: countSize(9) 0;
}

.companyName {
    font-size: countSize(12);
    font-weight: $bold;
}

.actionsWrapper {
    display: flex;
    align-items: center;
    gap: countSize(16);
}