.contactUsHeaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contactUsHeaderWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactUsSubheading {
	text-transform: uppercase;
	font-weight: $semibold;
	letter-spacing: 3px;
	margin-bottom: countSize(6);
}

.contactUsHeading {
	text-transform: capitalize;
	text-align: center;
	color: inherit;
	margin-bottom: countSize(12);
}

.contactUsDescription {
	text-align: center;
	color: $daveGray;

	@include breakpoint(sm) {
		font-size: countSize(7);
	}
}
