.partnersContainer {
    padding: countSize(64) 0;

    @include breakpoint(md) {
        padding: countSize(40) 0;
    }
}

.partnersWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: countSize(8);

    @include breakpoint(xl) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.partnersTextContent {
    display: flex;
    flex-direction: column;
    color: $daveGray;
}

.partnersHeader {
    color: inherit;
    font-size: countSize(12);
}

.partnerImg {
    opacity: 60%;
    transition: all 0.3s ease;

    &:hover {
        opacity: 100%;
    }
}