.partnersContainer {
    padding: countSize(64) 0;
}

.partnersWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: countSize(8);

    @include breakpoint(xl) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.partnersTextContent {
    display: flex;
    flex-direction: column;
    color: #6D6E76;
}

.partnersHeader {
    color: inherit;
    font-size: 24px;
}

.partnerImg {
    opacity: 60%;
    transition: all 0.3s ease;

    &:hover {
        opacity: 100%;
    }
}