.authorHeaderContainer {
    padding-top: countSize(64);
    background-color: $ghostWhite;
}

.authorHeaderWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(52);
}

.authorInfoWrapper {
    display: flex;
    gap: countSize(16);
}

.authorTextInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(12);
    max-width: 669px;
}

.authorWelcomeMessage {
    font-size: countSize(24);
    color: inherit;
}

.authorDescription {
    color: $daveGray;
}

.socialsLinks {
    display: flex;
    gap: countSize(8);
}

.authorHeaderLines {
    display: flex;
    height: countSize(12);
    width: 100%;
}

.authorHeaderYellowLine {
    background-color: $golden;
    height: 100%;
    width: 60%;
}

.authorHeaderPurpleLine {
    background-color: $purple;
    height: 100%;
    width: 40%;
}