.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@keyframes slideInRight {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.slideInRight {
	animation: slideInRight 0.5s ease forwards;
}