.testimonialWrapper {
    display: flex;
    flex-direction: column;
    gap: 121px;
    width: 100%;
}

.testimonialText {
    font-weight: $bold;
    font-size: countSize(12);

    @include breakpoint(md) {
        font-size: countSize(10);
    }
}

.testimonialAuthor {
    display: flex;
    gap: countSize(8);
}

.testimonialsInfo {
    display: flex;
    flex-direction: column;
}

.testimonialAuthorName {
    color: inherit;
    font-size: countSize(12);
}

.testimonialAuthorLocation {
    color: $daveGray;
}