.testimonialWrapper {
    display: flex;
    flex-direction: column;
    gap: 121px;
    max-width: 400px;
}

.testimonialText {
    font-weight: $bold;
    font-size: countSize(12);
    word-break: break-word;

    @include breakpoint(xl) {
        font-size: countSize(10);
    }

    @include breakpoint(lg) {
        font-size: countSize(8);
    }
}

.testimonialAuthor {
    display: flex;
    gap: countSize(8);
}

.testimonialsInfo {
    display: flex;
    flex-direction: column;
}

.testimonialAuthorName {
    color: inherit;
    font-size: countSize(12);

    @include breakpoint(xl) {
        font-size: countSize(10);
    }
}

.testimonialAuthorLocation {
    color: $daveGray;
}