.privacyContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: countSize(64);
}

.privacyContentWrapper {
    display: flex;
    flex-direction: column;
    gap: countSize(16);
    max-width: 768px;
}

.privacyContentHeading {
    color: inherit;
    font-size: countSize(24);
}

.privacyContentSubHeading {
    color: inherit;
    font-size: countSize(18);
}

.privacyContentText {
    color: $darkGray;
}